{{template "top.tmpl"}}

{{template "section" section "News - 2014"}}
	{{template "list"}}
		{{template "li"}}<a href="/news/2014/important-import-paths-have-changed.html">Important - Import Paths Have Changed</a>{{template "li-end"}}
		{{template "li"}}<a href="/news/2014/moving-from-google-code-to-github.html">Moving From Google Code To GitHub</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}

{{template "bottom.tmpl"}}

