{{template "top.tmpl"}}

{{template "section" section "Important - Import Paths Have Changed"}}
	<p>During the <a href="/news/2014/moving-from-google-code-to-github.html">big move to GitHub</a> we reconsidered the layout of the versioned import paths of Azul3D packages.</p>
	<p>Since one of the goals in our move to GitHub was to split up Azul3D's packages into multiple smaller repositories, it makes sense that we would want to possibly make API-incompatible changes (by incremented a version number, as usual) of a specific package <em>independent</em> of other packages: something that we couldn't do with the old versioning scheme.</p>
{{template "section-end"}}


{{template "perma-section" section "What To Do"}}
	<p>Updating to the new import path scheme is easy using a modified go-fix command:</p>
	{{template "list"}}
		{{template "li-code"}}go get azul3d.org/cmd/azulfix.v0{{template "li-code-end"}}
		{{template "li-code"}}azulfix.v0 path/to/src/{{template "li-code-end"}}
	{{template "list-end"}}
	<p>Which will rewrite all azul3d.org/v1 import paths to their new counterparts.</p>
{{template "section-end"}}


{{template "perma-section" section "Why?"}}
	<p>Looking at the previous import paths we had paths that looked like this:</p>
	{{template "list"}}
		{{template "li-code"}}azul3d.org/<em>v1</em>/pkg{{template "li-code-end"}}
		{{template "li-code"}}azul3d.org/<em>v1</em>/pkg/subpkg{{template "li-code-end"}}
	{{template "list-end"}}
	<p>Because the version number is stored in the middle of the URL, it would not be possible to have packages with different versions because they are all under the same version number. Instead, by moving the version to the end, we can have import paths like this:</p>
	{{template "list"}}
		{{template "li-code"}}azul3d.org/pkg.<em>v1</em>{{template "li-code-end"}}
		{{template "li-code"}}azul3d.org/pkg/subpkg.<em>v1</em>{{template "li-code-end"}}
	{{template "list-end"}}
	<p>Which allows us to increment the version numbers of specific packages independently of one-another. This is crucial going forward because it means we can break API-compatability of a single package, but leave other ones alone. In code however you will still reference the packages using just:</p>
	{{template "list"}}
		{{template "li-code"}}kg.DoSomething(){{template "li-code-end"}}
		{{template "li-code"}}subpkg.DoSomething(){{template "li-code-end"}}
	{{template "list-end"}}
	<p>All in all, upgrading to the new system is made easy by the <em>azulfix</em> tool and going forward this will allow for better code in many situations.</p>
{{template "section-end"}}


{{template "perma-section" section "Implementation"}}
	<p>If any part of this article is confusing to you, or if you're interested in the implementation details, please see <a href="/doc/versioning.html">this page</a>.</p>
{{template "section-end"}}

{{template "bottom.tmpl"}}

