{{template "top.tmpl"}}

{{template "section" section "Mac OS X Support!" "article hdr-general" "article general"}}
	<p class="date">September 2, 2014</p>
	<em><strong>Mac OS X is officially supported by Azul3D!</strong></em>
	<p>When we officially announced Azul3D just one month ago; The two <a href="/doc/platform-support.html">supported platforms</a> where Windows and Linux, so the biggest question everyone had was <em>"Will it support OS X?"</em>.</p>
	<p>Today, we are proud to inform you that <em><strong>Mac OS X is officially supported by Azul3D!</strong></em></p>
	<p><em>This means that today you can Azul3D to develop games in Go that run on Windows, Linux, and Mac OS X!</em></p>
{{template "section-end"}}


{{template "perma-section" section "How can I get started?"}}
	<p>Head on over to the <a href="/doc/install">installation page</a>!</p>
{{template "section-end"}}


{{template "perma-section" section "Why wasn't it supported before?"}}
	<p>There were, admittedly, a few major changes that had to happen in order to get OS X support working just right. We wanted to make sure that we do it the right way, so we took our time with it.</p>
	<p>Two of the most major changes to Azul3D were outlined in our previous article: <a href="#">Yin and Yang: Using Glow and GLFW</a>.</p>
	<p>The third major change was the <em>release of a new version of Azul3D's <a href="/gfx/window.v2">gfx/window</a> package.</p>
	<p>Of course, given some of the major changes  -- we expect some minor issues to arise. We look forward to working with you in solving them! Should you run into any, let us know!</p>
{{template "section-end"}}


{{template "perma-section" section "Conclusion"}}
	<p>Azul3D is an extremely versatile and extensible game engine written in Go now supporting all three major desktop operation systems.</p>
	<p>We truly hope that you give Azul3D a try, give us feedback and let us know what your experience is with it so we can improve upon it. Inform us what you would like to see more of as well as what you don't like.</p>
{{template "section-end"}}


{{template "bottom.tmpl"}}

