{{template "top.tmpl"}}

{{template "section" section "Mac OS X Support!" "article hdr-general" "article general"}}
	<p class="date">September 2, 2014</p>
	<p>When we officially announced Azul3D just one month ago; The two <a href="/doc/platform-support.html">supported platforms</a> where Windows and Linux, so the biggest question everyone had was <em>"Will Azul3D support OS X?"</em>.</p>
	<p>Today, we are proud to inform you that <em><strong>Mac OS X is officially supported by Azul3D!</strong></em></p>
	<p><em>This means today you can use Azul3D to develop games in Go that run on Windows, Linux, and Mac OS X!</em></p>
{{template "section-end"}}


{{template "perma-section" section "How can I get started?"}}
	<p>Head on over to the <a href="/doc/install">installation page</a>!</p>
{{template "section-end"}}


{{template "perma-section" section "Why wasn't it supported before?"}}
	<p>There were <a href="#">a few major changes</a> that had to happen in order to get OS X support working just right. We wanted to make sure we did it the right way -- so instead of jumping right in we took our time getting it just right.</p>
	<p>Two of the most major changes to Azul3D were outlined in our article: <a href="#">Yin and Yang: Using Glow and GLFW</a>.</p>
	<p>The third major change was the <em>release of a new version of Azul3D's <a href="/gfx/window.v2">gfx/window</a> package</em>.</p>
	<p>Major changes occured, so we do expect some issues to arise as well. We look forward to helping you by solving them: should you run into any, just let us know!</p>
{{template "section-end"}}


{{template "perma-section" section "Conclusion"}}
	<p>Azul3D is an extremely versatile and extensible game engine written in Go now supporting all three major desktop operating systems, with <a href="/doc/roadmap.html#future-platforms">mobile support</a> coming in the future.</p>
	<p><em>We truly hope that you will give Azul3D a try</em>, give us feedback and let us know what your experience is with it so we can improve upon it!</p>
	<p>Much work is still to be done, so inform us what you would like to see more of as well as what you dislike. We are prioritizing constantly based on what others want, so get your voice in and be heard!</p>
{{template "section-end"}}


{{template "bottom.tmpl"}}

