{{template "top.tmpl"}}

{{template "section" section "A 3D game engine written in Go!"}}
	{{template "list"}}
		{{template "li"}}State of the art shader-based modern 3D game engine.{{template "li-end"}}
		{{template "li"}}Cross-platform: Windows, Linux, and Mac OS X <a href="/doc/platform-support.html">support</a>.{{template "li-end"}}
		{{template "li"}}OpenGL 2.x based renderer (<a href="/doc/faq.html#why-opengl-2">why?</a>).{{template "li-end"}}
		{{template "li"}}3D audio via OpenAL.{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Installation"}}
	{{template "list"}}
		{{template "li"}}<a href="/doc/install/windows.html">Windows</a>{{template "li-end"}}
		{{template "li"}}<a href="/doc/install/linux.html">Linux</a>{{template "li-end"}}
		{{template "li"}}<a href="/doc/install/osx.html">Mac OS X</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "News"}}
	{{template "list"}}
		{{template "li"}}<a href="/news/2014/mac-osx-support.html">Mac OS X Support!</a>{{template "li-end"}}
		{{template "li"}}<a href="/news/2014/yin-and-yang-using-glow-and-glfw.html">Yin and Yang: Using Glow and GLFW</a>{{template "li-end"}}
		{{template "li"}}<a href="/news/">&gt;&gt;&gt;&nbsp;more news</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}

{{template "bottom.tmpl"}}

