{{template "topbase.tmpl" .Title}}
<div id="content-container">
	<div id="content" class="slim article">
{{.HTML}}
<script>
$(function() {
	var idName = function(text) {
		// Convert to lowercase.
		text = text.toLowerCase()

		// Remove any non-alphanumeric, non-dash, and non-space characters.
		text = text.replace(/[^a-z0-9- ]/g, "");

		// Replace spaces with dashes.
		text = text.replace(/[ ]/g, "-");

		// Remove duplicate dashes.
		return text.replace(/-+/g, "-");
	}

	// Add permalinks to every h1 after the first one.
	$(".article h1").each(function(i, obj) {
		if(i == 0) {
			return;
		}
		var id = idName(obj.innerHTML);
		var link = $("<a />", {
			id: id,
			title: "permalink",
			href: "#" + id,
			text: "»",
		});
		$(this).prepend(" ");
		link.prependTo($(this));
	});

	// Add top-of-page jump links to every h1.
	$(".article h1").each(function(i, obj) {
		if(i == 0) {
			return;
		}
		var id = idName(obj.innerHTML);

		var span = $("<span />", {
			class: "toplink",
			text: "(",
		});

		var link = $("<a />", {
			title: "permalink",
			href: "#top",
			text: "top",
		});
		link.appendTo(span);
		span.append(")");
		$(this).append(" ");
		span.appendTo($(this));
	});

	$("ul li").each(function(i, obj) {
		var bio = $("<span />", {
			class: "biohazard",
			text: "☣",
		});
		var content = $("<span />", {
			class: "content",
		});
		$(this).wrap('<span></span>');
		bio.prependTo($(this).parent());
	});
});
</script>
{{template "bottom.tmpl"}}

