<!-- Don't use top.tmpl so we can avoid the slim class -->
{{template "topbase.tmpl"}}
<div id="content-container">
	<div id="content" class="pkg-content">

{{$latestVersion := index .Versions 0}}
{{$isLatest := eq $latestVersion .VersionTag}}
{{$latestURL := printf "/%s.%s" $.RelPkgPath $latestVersion}}

{{$title := printf "Package %s" .Pkg.Name}}
{{template "section" section $title "pkg hdr-general" "pkg general"}}
	{{if eq .Major 0}}
		<p><em>In Development</em></p>
	{{else}}
		{{if eq .Minor -1}}
			<p><em>Version {{.Major}}</em></p>
		{{else}}
			<p><em>Version {{.Major}}.{{.Minor}}</em></p>
		{{end}}
	{{end}}
	<span class="pkg import">import "{{.Pkg.ImportPath}}"</span>
	{{template "list"}}
		{{template "li"}}<a href="#versions">Versions</a>{{template "li-end"}}
		{{template "li"}}<a href="#overview">Overview</a>{{template "li-end"}}
		{{template "li"}}<a href="#index">Index</a>{{template "li-end"}}
		{{template "li"}}<a href="#package-files">Package Files</a>{{template "li-end"}}
	{{template "list-end"}}
	{{if eq .Major 0}}
		<h2>WARNING!</h2>
		<span class="sub">
			{{if .Versions}}
				<p>This version is the in-development -- <em><strong>unstable</strong></em> -- version of this package. Backwards incompatable changes will be made to this package in the future and as such <em>you should not use this version</em>! Please use the latest release <a href="{{$latestURL}}">here</a>.</p>
			{{else}}
				<p>This version is the in-development -- <em><strong>unstable</strong></em> -- version of this package. Backwards incompatable changes will be made to this package in the future and as such <em>you should not use this package</em>! There are no other versions of this package available at this time.</p>
			{{end}}
		</span>
	{{end}}

	{{if not (eq .Major 0)}}
		{{if not $isLatest}}
			<h2>Newer Version Available</h2>
			<span class="sub">
				<p>A newer version of this package is available, please view it <a href="{{$latestURL}}">here</a>.</p>
			</span>
		{{end}}
	{{end}}
{{template "section-end"}}


{{if .Versions}}
{{template "perma-section" section "Versions" "pkg hdr-versions" "pkg versions"}}
	{{if $isLatest}}
		<p>You are viewing the latest version of this package ({{.VersionTag}}).</p>
	{{else}}
		<p>You are viewing an older version of this package ({{.VersionTag}}).</p>
	{{end}}
	<p>Other versions of this package are available as follows. Version zero (v0) is the in-development version of this package and should not generally be used (see <a href="/doc/versioning.html#development-versions">here</a> for more details).</p>
	{{template "list"}}
		{{range $i, $v := .Versions}}
			{{$relURL := printf "%s.%s" $.RelPkgPath $v}}
			{{$fullURL := filepathJoin $.BaseImport $relURL}}
			{{if eq $v "v0"}}
				{{template "li"}}<a href="{{$relURL}}" title="{{$fullURL}}">{{$v}}</a> (in development){{template "li-end"}}
			{{else}}
				{{if eq $i 0}}
					{{template "li"}}<a href="{{$relURL}}" title="{{$fullURL}}">{{$v}}</a> (latest version){{template "li-end"}}
				{{else}}
					{{template "li"}}<a href="{{$relURL}}" title="{{$fullURL}}">{{$v}}</a>{{template "li-end"}}
				{{end}}
			{{end}}
		{{end}}
	{{template "list-end"}}
{{template "section-end"}}
{{end}}


{{template "perma-section" section "Overview" "pkg hdr-overview" "pkg overview"}}
	{{.HTMLDoc}}
{{template "section-end"}}


{{template "perma-section" section "Index" "pkg hdr-index" "pkg index"}}
	{{template "list"}}
		{{if .Consts}}
			{{template "li"}}<a href="#constants">Constants</a>{{template "li-end"}}
		{{end}}
		{{if .Vars}}
			{{template "li"}}<a href="#variables">Variables</a>{{template "li-end"}}
		{{end}}
		{{range $index, $v := .IndexFuncs}}
			{{template "li"}}<a href="#{{$v.Name}}">{{$v.Text}}</a>{{template "li-end"}}
		{{end}}
		{{range $index, $type := .IndexTypes}}
			{{template "li"}}<a href="#{{$type.Name}}">type {{$type.Name}}</a>{{template "li-end"}}
			{{range $index, $v := .Funcs}}
				{{template "li-indent"}}<a href="#{{$v.Name}}">{{$v.Text}}</a>{{template "li-end"}}
			{{end}}
			{{range $index, $v := .Methods}}
				{{template "li-indent"}}<a href="#{{$type.Name}}.{{$v.Name}}">{{$v.Text}}</a>{{template "li-end"}}
			{{end}}
		{{end}}
	{{template "list-end"}}
{{template "section-end"}}


<!-- Constants -->
{{if .Consts}}
{{template "perma-section" section "Constants" "pkg hdr-constants" "pkg constants"}}
	{{range $index, $v := .Consts}}
		<pre>{{$v.Text}}</pre>
		<p>{{$v.Doc}}</p>
	{{end}}
{{template "section-end"}}
{{end}}


<!-- Variables -->
{{if .Vars}}
{{template "perma-section" section "Variables" "pkg hdr-variables" "pkg variables"}}
	{{range $index, $v := .Vars}}
		<pre>{{$v.Text}}</pre>
		<p>{{$v.Doc}}</p>
	{{end}}
{{template "section-end"}}
{{end}}


<!-- Functions -->
{{range $index, $v := .IndexFuncs}}
	{{template "perma-section" section $v.Text $v.Name "pkg hdr-function" "pkg function"}}
		<pre>{{$v.Text}}</pre>
		{{$v.Doc}}
	{{template "section-end"}}
{{end}}


<!-- Types -->
{{range $index, $type := .IndexTypes}}
	{{$name := printf "type %s" $type.Name}}
	{{template "perma-section" section $name $type.Name "pkg hdr-type" "pkg type"}}
		<pre>{{$type.Text}}</pre>
		{{$type.Doc}}
	{{template "section-end"}}

	<!-- Type Functions -->
	{{range $index, $v := .Funcs}}
		{{template "perma-section" section $v.Text $v.Name "pkg hdr-function" "pkg function"}}
			<pre>{{$v.Text}}</pre>
			{{$v.Doc}}
		{{template "section-end"}}
	{{end}}

	<!-- Type Methods -->
	{{range $index, $v := .Methods}}
		{{$id := printf "%s.%s" $type.Name $v.Name}}
		{{template "perma-section" section $v.Text $id "pkg hdr-method" "pkg method"}}
			<pre>{{$v.Text}}</pre>
			{{$v.Doc}}
		{{template "section-end"}}
	{{end}}
{{end}}


{{template "perma-section" section "Package Files" "pkg hdr-files" "pkg files"}}
	<p>{{range .GenericSources}}
	<a href="{{.ViewURL}}" title="view source">{{.Name}}</a>
	{{end}}</p>

	<h2><span class="linkarea">(<a href="#" id="tagged-files-toggle">show tagged files</a>)</span></h2>
	<span id="tagged-files">{{range .TaggedSources}}
		<h2>{{.Title}} Files</h2>
		<p>{{range .Sources}}
		<a href="{{.ViewURL}}" title="view source">{{.Name}}</a>
		{{end}}</p>
	{{end}}</span>
{{template "section-end"}}


<script>
$(function() {
	$("#tagged-files").slideUp();
	var toggle = true;
	$("#tagged-files-toggle").click(function(event) {
		event.preventDefault();
		toggle = !toggle;
		if(toggle) {
			$("#tagged-files").slideUp();
			$("#tagged-files-toggle").html("show tagged files");
		} else {
			$("#tagged-files").slideDown();
			$("#tagged-files-toggle").html("hide tagged files");
		}
	});
});
</script>

{{template "bottom.tmpl"}}

