{{template "top.tmpl"}}

{{template "section" section "FAQ"}}
	<p>Compiled here is a list of frequently asked questions about Azul3D. If you have questions not listed here please ask in the <a href="{{template "ext-url-mailing-list"}}">Mailing List</a>.</p>

	{{template "list"}}
		{{template "li"}}<a href="#what-is-azul3d">What is Azul3D?</a>{{template "li-end"}}
		{{template "li"}}<a href="#why-go">Why Go?</a>{{template "li-end"}}
		{{template "li"}}<a href="#what-does-it-provide">What does it provide?</a>{{template "li-end"}}
		{{template "li"}}<a href="#is-there-a-roadmap">Is there a roadmap?</a>{{template "li-end"}}
		{{template "li"}}<a href="#are-there-any-examples">Are there any examples?</a>{{template "li-end"}}
		{{template "li"}}<a href="#how-do-i-install-it">How do I install it?</a>{{template "li-end"}}
		{{template "li"}}<a href="#how-does-updating-work">How does updating work?</a>{{template "li-end"}}
		{{template "li"}}<a href="#how-does-versioning-work">How does versioning work?</a>{{template "li-end"}}
		{{template "li"}}<a href="#why-opengl-2">Why OpenGL 2?</a>{{template "li-end"}}
		{{template "li"}}<a href="#what-about-the-garbage-collector">What about the garbage collector?</a>{{template "li-end"}}
		{{template "li"}}<a href="#does-it-have-a-level-editor">Does it have a level editor?</a>{{template "li-end"}}
		{{template "li"}}<a href="#can-it-be-scripted">Can it be scripted?</a>{{template "li-end"}}
		{{template "li"}}<a href="#where-can-i-report-bugs">Where can I report bugs?</a>{{template "li-end"}}
		{{template "li"}}<a href="#where-can-i-request-features">Where can I request features?</a>{{template "li-end"}}
		{{template "li"}}<a href="#how-can-i-get-in-touch">How can I get in touch?</a>{{template "li-end"}}
		{{template "li"}}<a href="#what-types-of-applications">What types of applications?</a>{{template "li-end"}}
		{{template "li"}}<a href="#what-platforms-are-supported">What platforms are supported?</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "What is Azul3D?"}}
	<p>Azul3D is a 3D game engine written entirely from the ground up in the Go programming language. It is suitable for most types of 2D and 3D applications, it can even be used for non-game interactive applications. Unlike other modern game engines like Unity, JMonkey, etc, Azul3D does not attempt to provide anything more than programming packages suitable for game developers. There is no custom IDE, nor level editor.</p>
	<p>It is a game engine for programmers, by programmers. It is minimalistic, but also extensable compared to most other engines.</p>
	<p>It tries to provide the things that most game developers will use daily -- and it tries to provide them well.</p>
{{template "section-end"}}


{{template "perma-section" section "Why Go?"}}
	<p>Go is one of the very few languages in existence today that provides concurrency at a language level, additionally, Go is compiled into native binaries and has the potential to reach C/C++ speeds. Only some of the most advanced open source game engines today provide good support for multi-threaded rendering and, because of Go, Azul3D is able to provide that feature with ease and simplicity.</p>
	<p>There are many other areas where Go could excel at game development -- Go has syntax familiar to those coming from scripting languages and ideally games written in Go would also be 'scripted' in Go. You can also imagine each computer player in a simulated game being controlled by it's own goroutine -- something that would not be possible with the threading model present in other languages.</p>
{{template "section-end"}}


{{template "perma-section" section "What does it provide?"}}
	<p>Azul3D provides a set of packages for developing games and other interactive 2D or 3D applications in Go, a list of those packages and their documentation can be found <a href="/packages.html">here</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "Is there a roadmap?"}}
	<p>Yes, please see the <a href="/doc/roadmap.html">roadmap page</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "Are there any examples?"}}
	<p>Yes! You can download and compile them by following the instructions found on the <a href="/doc/install">installation page</a>.</p>
	<p>Alternatively, view the source on GitHub <a href="{{template "ext-url-examples-repo"}}">here</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "How do I install it?"}}
	<p>Please see the <a href="/doc/install">installation page</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "How does updating work?"}}
	<p>Please see the <a href="/doc/updating.html">updating page</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "How does versioning work?"}}
	<p>Please see the <a href="/doc/versioning.html">versioning page</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "Why OpenGL 2?"}}
	<p>A less known fact about OpenGL is that it is <em>extremely forward compatible</em>. In fact all most everything you can do in OpenGL 3/4 is also readily available in OpenGL 2 via standardized extensions.</p>
	<p>Although Azul3D only speaks to your GPU through the OpenGL 2 API; We only use the most modern OpenGL functions available.</p>
	<p>This is actually benificial in many ways, one being that we are able to target older hardware that <em>mostly</em> supports OpenGL 3 but doesn't advertise it.</p>
	<p>When we do begin using an OpenGL 3 renderer the change will be completely seamless thanks to our <a href="/gfx.v1">gfx</a> package, meaning you won't have to change a thing.</p>
	<p><em>We get all the same features, the same performance, and we are able to access a wider range of hardware.</em></p>
{{template "section-end"}}


{{template "perma-section" section "What about the garbage collector?"}}
	<p>Go is by specification a <em>garbage collected programming language</em>, this means that developers do not need to manually control memory but also means they must be aware of how the garbage collector works in order to receive exceptional performance.</p>
	<p>The default implementation of Go, uses a <em>stop-the-world</em> garbage collector. This means application code is paused while memory is being garbage collected. If this happens often, your graphical application will appear to be slow or laggy.</p>
	<p>But Go is different from other garbage collected languages because it gives you much more control over garbage collection and memory management in general. In truth garbage collection does not hinder game development as much as people generally think because of the following reasons:</p>
	{{template "list"}}
		{{template "li"}}OpenGL uses double buffering, when a frame is submitted to OpenGL it doesn't actually show up until the buffer swapping occurs.{{template "li-end"}}
		{{template "li"}}Azul3D uses a multi-threaded renderer, providing yet-another level of buffering (application logic and the renderer operate independently).{{template "li-end"}}
		{{template "li"}}GC pause times are often small, and much of the time negligible. If a developer pays special care to not make lots of garbage, all the better.{{template "li-end"}}
		{{template "li"}}Go 1.3 introduced <a href="http://www.golang.org/pkg/sync/#Pool">sync.Pool</a>, a garbage collector aware free list which allows developers to alleviate GC pressure by re-using old already allocated objects.{{template "li-end"}}
		{{template "li"}}The goal of the Go 1.5 (June 2015) Garbage Collector (GC) is to reduce GC latency, making Go acceptable for implementing a broad spectrum of systems requiring low response times. For further details please refer to the following design document: <a href="http://golang.org/s/go14gc">Go 1.4+ Garbage Collection (GC) Plan and Roadmap</a>.{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Does it have a level editor?"}}
	<p>Not right now. Azul3D is mainly for programmers and doesn't yet offer any GUI-based tools. With that being said, there may be importers in the future for 3D modelers which will make importing scenes from those 3D modelers (such as Blender) into Azul3D trivial.</p>
{{template "section-end"}}


{{template "perma-section" section "Can it be scripted?"}}
	<p>One of the key points of making games in Go is the easy syntax. You probably don't actually need a scripting language at all. With that being said, you could probably use some scripting language that can interact with Go to script games, yes.</p>
{{template "section-end"}}


{{template "perma-section" section "Where can I report bugs?"}}
	<p>We appreciate that bugs specific to a single package be reported on that package's GitHub repository.</p>
	<p>For bugs related to this website, etc, please file them <a href="{{template "ext-url-issues"}}">here</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "Where can I request features?"}}
	<p>We appreciate that feature requests specific to a single package be requested on that package's GitHub issue tracker.</p>
	<p>For feature requests not related to any package, or related to this website, etc, please request them by creating an issue them <a href="{{template "ext-url-issues"}}">here</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "How can I get in touch?"}}
	<p>Please make a post on the <a href="{{template "ext-url-mailing-list"}}">Mailing List</a>.</p>
{{template "section-end"}}


{{template "perma-section" section "What types of applications?"}}
	<p>Any 2D or 3D application, but we mostly support games.</p>
{{template "section-end"}}


{{template "perma-section" section "What platforms are supported?"}}
	<p>Please see the <a href="/doc/platform-support.html">platform support</a>.</p>
{{template "section-end"}}


{{template "bottom.tmpl"}}

