{{template "top.tmpl"}}

{{template "section" section "Platform Support"}}
	<p>Below is a table of platforms that are supported by Azul3D <em>today</em>. More will be added in the future, if you wish to see a new one here please <a href="{{template "ext-url-issues"}}">create an issue</a>.</p>
	<table>
		<thead><td>Operation System</td><td>Architectures</td></thead>
		<tr><td>Windows XP and higher</td><td>386, amd64</td></tr>
		<tr><td>Linux (any Go supported kernel)</td><td>386, amd64</td></tr>
		<tr><td>Mac OS X (any Go supported version)</td><td>amd64</td></tr>
	</table>
{{template "section-end"}}

{{template "bottom.tmpl"}}

