{{template "top.tmpl"}}

{{template "section" section "Updating"}}
	<p>There are two different types of updating an Azul3D package. One is where you wish to update to a newer and better package API (if one is available), and the other is where you wish to receive bug fixes or new features for the latest available version of a package.</p>
	{{template "list"}}
		{{template "li"}}<a href="#updating-versions">Updating Versions</a>{{template "li-end"}}
		{{template "li"}}<a href="#getting-bug-fixes-and-features">Getting Bug Fixes And Features</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Updating Versions"}}
	<p>Any time API-incompatible changes must be made to an existing package, a new <a href="/doc/versioning.html">version</a> is created.</p>
	<p>Once a new version of a package is available, previous versions receive no further updates. As such it is important to periodically update your applications to newer versions of Azul3D packages. For example if an application imported the following package:</p>
	{{template "list"}}
		{{template "li-code"}}import "azul3d.org/chippy.v1"{{template "li-code-end"}}
	{{template "list-end"}}

	<p>And a newer version is available, (the package's <a href="/chippy.v1#versions">documentation</a> would mention if a newer version was available). You would want to change each import statement to the newer version:</p>

	{{template "list"}}
		{{template "li-code"}}import "azul3d.org/chippy.v2"{{template "li-code-end"}}
	{{template "list-end"}}

	<p>This can be a very tedious task if you have many imports. To make it significantly easier you can use a tool like <a href="{{template "ext-url-govers"}}">govers</a>. To do this you first need to install it using the Go tool:</p>
	{{template "list"}}
		{{template "li-code"}}go get launchpad.net/govers{{template "li-code-end"}}
	{{template "list-end"}}

	<p>And then in the root of the source tree you want to change, you would run:</p>
	{{template "list"}}
		{{template "li-code"}}govers azul3d.org/chippy.v2{{template "li-code-end"}}
	{{template "list-end"}}

	<p>Which would rewrite all of the <em>v1</em> import paths to become <em>v2</em>. It will also warn you if you are importing code that uses a previous version of the same package -- which is a big no no.</p>

	<p>You may still need to do some manual fixing yourself -- though. Since it's a new package version it means that some API incompatible change has been made, so your code may need to be updated to reflect the new changes.</p>
{{template "section-end"}}


{{template "perma-section" section "Getting Bug Fixes And Features"}}
	<p>When we don't have to make API-incompatible changes, we don't. Instead these changes are made to the latest released version of the package.</p>
	<p>So for instance: version one of the chippy package (azul3d.org/chippy.v1), may still receive bug fixes and new features as time goes on. You can track these changes easily through the package's <a href="{{template "ext-url-chippy-repo"}}">GitHub repository</a>.</p>

	<p>Downloading all of the recent changes to a specific package is very easy to do using the update flag with the <em>go get</em> command:</p>
	{{template "list"}}
		{{template "li-code"}}go get -u azul3d.org/chippy.v1{{template "li-code-end"}}
	{{template "list-end"}}

	<p>If you want to update all of the Azul3D packages that you have downloaded, it is also easy using <em>...</em> file path expansion, like so:</p>
	{{template "list"}}
		{{template "li-code"}}go get -u azul3d.org/...{{template "li-code-end"}}
	{{template "list-end"}}
	<p>Which would update every Azul3D package that you have installed.</p>
{{template "section-end"}}


{{template "bottom.tmpl"}}

