{{template "top.tmpl"}}

{{template "section" section "Windows Installation"}}
	<p>What follows is a detailed step-by-step guide on installing Azul3D on a windows 386/amd64 platform. For other platforms please see <a href="/doc/install">the installation page</a>.</p>

	{{template "list"}}
		{{template "li"}}<a href="#install-go">Install Go</a>{{template "li-end"}}
		{{template "li"}}<a href="#install-git">Install Git</a>{{template "li-end"}}
		{{template "li"}}<a href="#install-mingw-32">Install MinGW (32-bit Windows)</a>{{template "li-end"}}
		{{template "li"}}<a href="#install-mingw-64">Install MinGW (64-bit Windows)</a>{{template "li-end"}}
		{{template "li"}}<a href="#compiling-the-examples">Compiling The Examples</a>{{template "li-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Install Go"}}
	<p>Install the latest version of Go from <a href="http://golang.org/doc/install">here</a>.</p>
	{{template "required-go-version"}}
	<p>Set the environment variable GOPATH, for example:</p>
	{{template "list"}}
		{{template "li-code"}}C:\Users\joe\Desktop\godev{{template "li-code-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Install Git"}}
	<p>Install git (use default installation options) from <a href="http://git-scm.com/downloads">here</a>.</p>
	<p>(32-bit Windows) Add git to the PATH environment variable:</p>
	{{template "list"}}
		{{template "li-code"}}C:\Program Files\Git\bin{{template "li-code-end"}}
	{{template "list-end"}}
	<p>(64-bit Windows) Add git to the PATH environment variable:</p>
	{{template "list"}}
		{{template "li-code"}}C:\Program Files (x86)\Git\bin{{template "li-code-end"}}
	{{template "list-end"}}
{{template "section-end"}}


{{template "perma-section" section "Install MinGW (32-bit Windows)"}}
	<p>We highly reccomend using TDM GCC -- installation is very simple (use the default options).</p>
	<p>Download the <em>32-bit installer</em> <a href="http://sourceforge.net/projects/tdm-gcc/files/TDM-GCC%20Installer/tdm-gcc-4.8.1-3.exe/download">here</a></p>
	<p>Note: <em>Due to <a href="https://github.com/go-gl/glfw3/issues/91">an existing bug</a> we reccomend only using GCC 4.8.1 or lower versions for now.<em></p>
{{template "section-end"}}


{{template "perma-section" section "Install MinGW (64-bit Windows)"}}
	<p>We highly reccomend using TDM GCC -- installation is very simple (use the default options).</p>
	<p>Download the <em>64-bit installer</em> <a href="http://sourceforge.net/projects/tdm-gcc/files/TDM-GCC%20Installer/tdm64-gcc-4.8.1-3.exe/download">here</a></p>
	<p>Note: <em>Due to <a href="https://github.com/go-gl/glfw3/issues/91">an existing bug</a> we reccomend only using GCC 4.8.1 or lower versions for now.<em></p>
{{template "section-end"}}


{{template "perma-section" section "Compiling The Examples"}}
	{{template "install-azul3d"}}
{{template "section-end"}}

{{template "bottom.tmpl"}}

